.wrapper {
	// layout 공통
	.layout {
		&-wrapper {
			margin-top: 16px;
			border: 1px solid #cecece;
			background: #fff;
		}
		
		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			padding: 10px 15px;
			border-bottom: 1px solid #cecece;
			background: #ebebeb;
	
			&__title {
				font: {
					size: 14px;
					weight: 500;
				};
			}
	
			&__btn {
				a,
				button {
					margin-left: 6px;
	
					&:first-child {
						margin-left: 0;
					}
	
					&:first-of-type {
						margin-left: 0;
					}
				}
			}
		}
	
		&-content {
			padding: 10px 15px;

			&__top {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
				margin-bottom: 10px;

				.count {
					font-size: 13px;
	
					&__total {
						font: {
							size: 13px;
							weight: 500;
						};
						color: $lightGreen;
					}
				}

				&__select {
					min-width: 66px;
					padding: 0 21px 0 10px;
					height: 26px;
					border: 1px solid #ccc;
					background: url('~@/assets/images/common/ico_sort_select-arrow.png') no-repeat calc(100% - 5px) 50%;
					font-size: 12px;
					color: #333;
				}
			}
		}
	}

	.filter {
		&-table {
			max-width: 100%;
			width: 100%;
	
			&__th {
				padding: 10px 12px;
				background: #eee;
				border: 1px solid #ccc;
				font-size: 0;
				text-align: left;
	
				span {
					display: inline-block;
					font: {
						size: 14px;
						weight: 500;
					};
					color: #000;
				}
			}
		
			&__td {
				padding: 10px 12px;
				border: 1px solid #ccc;
				font: {
					size: 12px;
					weight: 400;
				};
				text-align: left;
			}
		
			&__input {
				width: 100%;
				max-width: 100%;
				padding: 5px;
				border: 1px solid #ddd;
				font-size: 12px;
				color: #333;
				line-height: 16px;
			}
		
			&__textarea {
				width: 100%;
				max-width: 100%;
				padding: 5px;
				border: 1px solid #ddd;
				font-size: 12px;
				color: #333;
				line-height: 16px;
			}
		}

		&-btn {
			margin-top: 15px;

			a,
			button {
				margin-left: 6px;
			}
		}
	}
	
	// 가로형 테이블(등록)
	.cols-table {
		max-width: 100%;
		width: 100%;
	
		&__th {
			padding: 10px 12px;
			background: #eee;
			border: 1px solid #ccc;
			font-size: 0;
			text-align: left;

			span {
				display: inline-block;
				font: {
					size: 14px;
					weight: 500;
				};
				color: #000;
			}
	
			&--require {
				position: relative;
				padding-right: 10px;

				&:before {
					content: '*';
					position: absolute;
					top: 0;
					right: 0;
					font: {
						size: 16px;
						weight: 600;
					};
					color: $lightGreen;
				}
			}
		}
	
		&__td {
			padding: 10px 12px;
			border: 1px solid #ccc;
			font: {
				size: 12px;
				weight: 400;
			};
			text-align: left;
		}
	
		&__input {
			width: 100%;
			max-width: 100%;
			padding: 5px;
			border: 1px solid #ddd;
			font-size: 12px;
			color: #333;
			line-height: 16px;
		}
	
		&__textarea {
			width: 100%;
			max-width: 100%;
			padding: 5px;
			border: 1px solid #ddd;
			font-size: 12px;
			color: #333;
			line-height: 16px;
		}
	}
	
	// 커스텀 테이블
	.custom {
		&-table {
			display: table;
			width: 100%;
			table-layout: fixed;
			border-collapse: collapse;
			border-spacing: 0;
	
			&__thead {
				display: table-header-group;
			}
	
			&__tbody {
				display: table-row-group;
	
				.custom-table__tr {
					&:hover {
						.custom-table__td {
							background: #f2f2f2;
							font-weight: 500;
						}
					}
				}
			}
	
			&__tr {
				display: table-row;
			}
	
			&__th {
				display: table-cell;
				padding: 12px 8px;
				border: {
					top: 2px solid #111;
					right: 1px solid #ccc;
					bottom: 1px solid #111;
					left: 1px solid #ccc;
				};
				background: #eee;
				font: {
					size: 14px;
					weight: 500;
				};
				color: #000;
			}
	
			&__td {
				display: table-cell;
				padding: 8px;
				border: 1px solid #ccc;
				font-size: 12px;
				color: #333;
			}
		}
	}
	
	// modal 공통
	.layer-popup {
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		font-size: 0;
		vertical-align: middle;
		text-align: center;
	
		&:before {
			content: '';
			display: inline-block;
			width: 0;
			height: 100%;
			vertical-align: middle;
		}
	
		&__wrapper {
			display: inline-block;
			background: #FFF;
			vertical-align: middle;
			text-align: left;
		}
	}
	
	// btn 공통
	.btn {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		
		&-s {
			padding: 5px 12px;
			font-size: 12px;
		}
	
		&-m {
			padding: 8px 16px;
			font-size: 14px;
		}
	
		&-l {
			padding: 10px 20px;
			font-size: 16px;
		}
	
		&:disabled {
			opacity: .6;
			cursor: no-drop;
		}
	
		&-black {
			border: 1px solid #000 !important;
			background-color: #fff !important;
		}
	
		&-white {
			border: 1px solid #000 !important;
			background-color: #000 !important;
			color: #fff !important;
		}
	}
}